.Template{
    background-color: darkslategrey;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 10px,0;

}

.Template h1.heading{
    position: absolute;
    top:40%;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
}

.Template p.subheading{
    position: absolute;
    top:45%;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 2rem ;
    padding: 10px,0;
    color: grey;

}
.Template p.qoute{
    position: absolute;
    top:55%;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1rem ;
    padding: 10px,0;
    color: grey;
}

.Template a.active {
    position: relative;
    top:70%;
    padding: 10px;
   
    
    
}
